input[type=password]{
  width:100%;
  border:2px solid rgb(85, 85, 85);
  border-radius:20px;
  margin:8px 0;
  outline:none;
  padding:8px;
  box-sizing:border-box;
  transition:.3s;
  font-size: 15px;
}

input[type=password]:focus{
  border-color:#fde680;
  box-shadow:0 0 8px 0 #fde680;
}

body{
  background-color: rgb(26, 26, 26);
}