@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    display: flex;
    margin: 0 auto; /* No se si esta bien, mirar en movil*/
    justify-content: center;
    color: #2c2e43;
    font-family:Verdana,;
    margin: 3%;
    text-shadow:  
                  1px 1px 0px #e7e7e7,
                  2px 1px 0px #B2B1B9, 
                  3px 2px 0px #fde680, 
                  4px 3px 0px #052939
}

body{
    background-color: #F2F2F2;
    overflow: hidden;
}

.iconos{
    display:flex;
    margin: 0 auto;
    padding: 90px;
    margin-top: 50px;
    
    width: fit-content;
    background-color: #191727;
    border-radius: 30px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.3),
              0 32px 64px -48px rgba(0,0,0,1);
}

figure {
    vertical-align: top; 
    text-align: center;
    margin-bottom: 60px;
    border-radius:50%;
    width: 200px;
    height: 200px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.5),
              0 32px 64px -48px rgba(0,0,0,1);
    transition: transform 1s;
    
    

}


#idir_ico{
    cursor: pointer;
    background-color: rgb(8, 3, 29);
    border-radius: 50%;
}

#nihel_ico{
    cursor: pointer;
    background-color: rgb(8, 3, 29);
    border-radius: 50%;
}

#idir{
    margin-left: -10%;  /*No tocar en la puta vida */
}

#nihel{
    margin-left: 20%;   /*No tocar en la puta vida */
}

section.iconos{
    pointer-events: none;
}

img.izq {                /*Icono idir*/
    pointer-events: auto;
}

img.drch {                /*Icono idir*/
    pointer-events: auto;
}

.drch{
    transition: opacity 1s;
    
}

.izq {
    transition: transform 2s;
    
}



/*
section.iconos:hover figure.drch{
    transform: translateX(50%);
}

section.iconos:hover figure.izq{
    transform: translateX(50%);
}
*/



.caption {
    display: block;
    font-size: 32px;
    font-family:Verdana,;
    color: white;
    margin-top: 10px;
    font-weight: 300;
    
}
