@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: blink;
  font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    display: flex;
    margin: 0 auto; /* No se si esta bien, mirar en movil*/
    justify-content: center;
    color: #ffffff;
    background-color: #191727;
    margin-bottom: 110px;
    font-family:Verdana,;
    
    border: 5px double rgb(92, 90, 90);
    
}

body{
    background-color: #F2F2F2;
}

.iconos{
    display:flex;
    margin: 0 auto;
    padding: 90px;
    margin-top: 50px;
    
    width: fit-content;
    background-color: #191727;
    border-radius: 30px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.3),
              0 32px 64px -48px rgba(0,0,0,1);
}

figure {
    vertical-align: top; 
    text-align: center;
    margin-bottom: 60px;
    border-radius:50%;
    width: 200px;
    height: 200px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.5),
              0 32px 64px -48px rgba(0,0,0,1);
    transition: transform 1s;
    
    

}


#idir_ico{
    cursor: pointer;
    background-color: rgb(8, 3, 29);
    border-radius: 50%;
}

#nihel_ico{
    cursor: pointer;
    background-color: rgb(8, 3, 29);
    border-radius: 50%;
}

#idir{
    margin-left: -10%;  /*No tocar en la puta vida */
}

#nihel{
    margin-left: 20%;   /*No tocar en la puta vida */
}

.iconos:hover .idir_ico{
    transform: translateX(70%) scaleX(75%) scaley(75%); 
}



.caption {
    display: block;
    font-size: 32px;
    font-family:Verdana,;
    color: white;
    margin-top: 10px;
    font-weight: 300;
    
}
